#fx-container{
	  background-color: #87ceeb;
}

/* HEADER */
	.header{ 		
		padding: 0 ;
		height: 74px;
		/*border: 1px solid red;*/
		margin: 0 auto;
		width: 70%;
		position: relative;
	}

	.header .languages{			 
		
		width: 200px; 		
		/*border : 1px solid blue;*/
		text-align: right;
		float: right;
		padding: 10px 10px 0 10px;
	}

	.header .languages ul li { 
		display: inline-block; 
	}

	.header .navigation{
		position: absolute;
		top: 0;		
		padding: 0px 20px;
	}

	.header .navbar-default .navbar-nav > li > a {
 		color: #2a409a!important;
  		font-size: 22px;
  		padding-left: 4px;  		
  		font-family: 'Oswald', sans-serif;
	}

	ul.dropdown-menu {
 		background: skyblue;
	}

	ul.dropdown-menu > li > a {
		color: white!important;
  		font-size: 20px;  
  		font-family: 'Oswald', sans-serif;
	}

	ul.dropdown-menu > li > a:hover {
		background: #0C17D6;
	}
	/* NAV-BAR */
	/*@media (max-width: 979px) {
	  .navbar-fixed-top.navbar-absolute {
	    position: relative;
	    margin: 0;
	  }
	}

	.navbar-absolute + div {
	    margin-top: 68px;
	    clear: both;
	}*/
	/* END NAV-BAR*/
	.header .navbar{
		width: 100%!important;	
	}

	.header .dropdown:hover .dropdown-menu { 
		display: block; 
	}
/* END HEADER */

/* BANNER */
	#banner{
		/*border: 1px solid blue;*/
	}
/* END BANNER */


/* CONTAINER */
	.content-wrapper{
		/*border:3px solid red;*/
		width: 88%;
		margin: 8px auto;
		padding: 20px;
		background: white;		  		
		/*word-wrap: break-word;*/
		min-height: 500px;	
		overflow: hidden;	
	}


	.content-wrapper .menu-left {
		width: 18.5%;	
		height: 100%;
		float: left;	    			    	   
	}

	.content-wrapper .menu-left ul{
		margin: 0;
		padding: 0;
	}

	.content-wrapper .menu-left ul li{
		margin: 2px 0;
		padding: 0;
		list-style: none;
		border: 2px solid white;
    	border-radius: 10px;
    	background:  #87CEEB!important;
	}

	.content-wrapper .menu-left ul li a{
		display: block;
		padding: 10px 20px;
		text-decoration: none;				
		text-align: center;
		font-family: 'Montserrat', sans-serif !important;
		font-size: 18px;
		color: white;
	}

	
	.content-wrapper .menu-left ul .active, .content-wrapper .menu-left ul li a:hover { background: #2A409A!important;}

	.content-wrapper .menu-left ul li a:link{
		text-decoration: none;
	}

	.content-wrapper .article {
 		width: 79%;
  		float: right;    			
	}

/* END CONTAINER */





